
/* rotator
----------------------------------------------------*/
.gallery-section {
	max-width: 900px;
	margin: auto;
	margin-bottom: 20px;
	position: relative;
	@extend %clearfix;

	.rotator {
		position: relative;
		overflow: hidden;
	}
	.originalImage {
		display: block;
		max-width: 100%;
	}
	.rotator .item {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
	}
	.rotator-slice {
		background-repeat: no-repeat;
		position: absolute;
		top: 0;
	 	transform: translate3d(0,0,0);
	}
	.menu {
		padding: 10px 0;
		li {
			float: left;
			padding: 0 5px 0 0;
			font-size: 20px;

			&.active {
				color: #aaa;
				font-weight: bold;
			}
			a {
				color: #000;
				text-decoration: none;
			}
		}
	}


}
