/*css3 Power
-------------------------------------------*/
.selection {
	margin-top: 20px;

	a {
		font-weight: bold;
		text-decoration: none;
	}

	.lorem-text {
		margin-top: 20px;
		padding: 10px 0;
	}
}