/*css3 transformk order
-------------------------------------------*/
.c,
.b,
.a {
	width: 60px;
	height: 60px;
	padding: 5px;
}

.c {

	background-color: orange;
	color: #000;
}

.b {
	background-color: blue;
	color: #fff;
}

section.order {
	width: 300px;
	float: left;
	padding: 30px 15px;
	margin: 30px;
	border: 1px solid #000;
}

.order h1 {
	font-size: 1.3em;
	margin-bottom: 10px;
}

.order h2 {
	font-size: 1em;
	margin: 35px 15px;
}