/**
	author: Bartlomiej Fryzowicz
	e-mail: bfryzowicz@gmail.com
	All copyrights reserved
**/
@import "compass/reset";
@import "compass/css3/box-sizing";
@import "compass/css3/transform";
@import "compass/css3/images";
@import "compass/typography/lists";

main {
	display: block;
}


/*Mixins and functions
----------------------------------------------*/
$blue: #7DB7F9;
$blueOp: rgba($blue, 0);
$darkenBlue: darken($blue, 10%);
$baseFontSize: 14px;

$tabletWidth: 768px;
$phoneWidth: 470px;

%clearfix {
	@include pie-clearfix;
}

@mixin media($breakpoint) {
	@media only screen and (min-width: $breakpoint) {
		@content;
	}
}

@function pxToEm($px) {
	@return  $px/$baseFontSize * 1em;
}

/*Generic styles
----------------------------------------------*/
* {
	@include box-sizing(border-box);
}

body {
	background-color: $blue;

}

/*Typography
----------------------------------------------*/
body {
	font-family: Arial, sans-serif;
	font-size: $baseFontSize;
	line-height: 1.3;
	overflow-x: hidden;
}

.title {
	font-family: 'Asap', Arial, sans-serif;
	font-size: pxToEm(26px);
}

.main-menu {
	font-family: 'Asap', Arial, sans-serif;
}

/*Layout
----------------------------------------------*/
.wrapper {
	transition: -webkit-transform 1s;
	transition: transform 1s;
}
.no-csstransforms .wrapper {
	position: relative;
	transition: left 1s;
}
/*Header
-----------*/
.inner {
	max-width: 1024px;
	padding: 0 15px;
	margin: auto;
}

.main-header,
.main-footer {
	color: #000;
	@extend %clearfix;
}

.main-header {
	height: 70px;
	border-bottom: 10px solid $darkenBlue;;
}

#logo  {
	float: left;
	&:hover {
		a {
			//@include transform(scale(1.1));
		}
	}
	a {
		display: block;
		padding: 5px 15px;
		border-radius: 5px;
		color: #fff;
		background-color: $blue;
		text-transform: uppercase;
		text-align: center;
		text-decoration: none;
		transition: -webkit-transform 1s ease-out;
		transition: transform 1s ease-out;
	}
}

#show-menu {
	float: right;
	padding: 0 10px;
	color: #fff;
	font-size: 16px;
	line-height: 70px;
	text-shadow: 0 0 4px darken($blue, 20%);
	text-transform: uppercase;
	cursor: pointer;
}

.main-menu {
	@extend %clearfix;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 100%;
	z-index: 100;
	background: lighten(#000, 40%);
	display: none;
	.item a {
		display: block;
		padding: 10px 10px;
		height: 70px;
		color: #fff;
		font-size: 16px;
		line-height: 40px;
		text-shadow: 0 0 4px darken($blue, 20%);
		text-decoration: none;
		transition: background-color 1s, border-width 0.3s;

		&:hover, &:focus {
			background-color: darken($blue, 10%);
		}
		//because IE skips selector doesn't understand
		&:target {
			background-color: darken($blue, 10%);
		}
	}
}

.menu-panel-visible  {
	.main-menu {
		display: block;
		width: 150px;
	}
	.wrapper {
		@include transform(translateX(-150px) translateZ(0));
	}
	.no-csstransforms & .wrapper {
		left: -150px;
	}
}

@include media($tabletWidth) {
	#show-menu {
		display: none;
	}
	.main-menu {
		display: block;
		position: static;
		padding-left: 120px;
		background: none;

		ul {
			float: right;
		}
		.item {
			@include horizontal-list-item(0);
			a {
				padding: 10px 20px;
				font-size: 24px;
				&:hover, &:focus {
					border-bottom: 10px solid lighten(#000, 20%);
				}
				&:target {
					border-bottom: 10px solid lighten(#000, 20%);
				}
			}
		}
	}
}

/*Main
-----------*/
#main {
	padding: 80px 0;
	min-height: 200px;
	background-color: #fff;
	@extend %clearfix;
}


.content {
	.title {
		margin-bottom: 60px;
		span {
			position: relative;
			display: inline-block;
			padding: 0 20px 20px 0;
			&:after {
				position: absolute;
				bottom: 0;
				left: 0;
				width: 100%;
				height: 4px;
				content: "";
				background-color: lighten(#000, 40%);
				-webkit-animation: borderExpand 1s ease-out;
				animation: borderExpand 1s ease-out;
			}
		}
	}
}

@-webkit-keyframes borderExpand {
	0% {
		left: -200%;
		opacity: 0;
	}
	100% {
		left: 0;
		opacity: 1;
	}
}
@keyframes borderExpand {
	0% {
		left: -200%;
		opacity: 0;
	}
	100% {
		left: 0;
		opacity: 1;
	}
}

/*Lab page
-----------*/
$boxHeight: 100px;
.experiments  {
	@extend %clearfix;
	margin: 0 -10px;
	li {
		padding: 5px;
	}
	.link {
		display: block;
		padding:5px;
		text-decoration: none;
		height: $boxHeight + 15px;
		position: relative;
	}
	.link > div {
		position: absolute;
		width: 100%;
		top: 0;
		left: 0;
		@include perspective(1000px);
		//@include transform-style(preserve-3d);
	}
	.name, .description {
		display: block;
		height: $boxHeight;
		padding: 15px;
		font-size: pxToEm(15px);
		text-decoration: none;
		font-weight: bold;
		color: #fff;
		transition: -webkit-transform 0.5s;
		transition: transform 0.5s;
		@include backface-visibility();
	}
	.name {
		@include transform-origin(50%, 50%, -$boxHeight/2);
		background: lighten(#000, 40%);
	}
	.description {
		@include transform-origin(50%, 50%, -$boxHeight/2);
		@include transform(translateY(-$boxHeight)  rotateX(-90deg));
		background: $darkenBlue;
	}

	.link:hover,
	.link:focus {
		.name {
			@include transform(rotateX(90deg));
		}
		.description {
			@include transform(translateY(-100px)  rotateX(0));
		}

	}
}
.no-csstransforms3d .description {
	display: none;
}

@include media($phoneWidth) {
	.experiments li {
		float: left;
		width: 33.3333%;
	}
}

@include media($tabletWidth) {
	.experiments li {
		width: 25%;
	}
}

.projects {
	padding: 15px 0;
	h2 {
		padding-bottom: 10px;
		font-size: pxToEm(16px);
		font-weight: bold;
	}
	a {
		color: #000;
		text-decoration: none;
	}

	.projects-list {
		a {
			display: block;
			padding: 10px;
			@include media($phoneWidth) {
				padding: 5px;
			}
		}
		span {
			display: none;
		}
	}
}



/*Footer
-----------*/
.main-footer {
	border-top: 10px solid $darkenBlue;
	padding: 10px 0 40px;
	color: #fff;
	text-shadow: 0 0 4px darken($blue, 20%);
	line-height: 1.3;
	background-color: $blue;
	background-image: linear-gradient($blueOp 50%, $blue);
	transition: background-color 1s;
	p {
		padding: 10px 0;

	}
	a {
		color: #fff;
		font-weight: bold;
		text-decoration: none;
	}
	ul {
		@include horizontal-list;
		padding: 5px 0;
	}
	&:hover {
		background-color: $darkenBlue;
	}
}

/*Import experiments css files
----------------------------------------------*/
@import "_css3view";
@import "_fileReading";
@import "_rotator";
@import "_tabs";
@import "_transformOrder";
@import "charts";



